.intro {
  width: 75%;
  font-size: 30px;
  color: #454EBA;
  font-weight: bold;
  font-style: italic;
}
.intro {
  font-family: wingdings;
  color: #6A71C8;
}
.intro {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

